.mfx-progress-bar .track {
	-fx-fill: #E0E0E0;
}

.mfx-progress-bar .bar1,
.mfx-progress-bar:indeterminate .bar1,
.mfx-progress-bar:indeterminate .bar2 {
	-fx-fill: #9a67ea;
}

.mfx-progress-bar .track,
.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
	-fx-arc-height: 6;
	-fx-arc-width: 6;
}

.mfx-progress-bar:disabled .track {
	-fx-fill: #bcbcbc;
}